{% extends "base.html" %}

{% block content %}
    <lottie-player autoplay=""
                   loop=""
                   mode="normal"
                   src="https://assets9.lottiefiles.com/packages/lf20_7mxwovzb.json"
                   style="width: 100%;height: 800px;" background="transparent">
    </lottie-player>
{% endblock content %}

{% block script %}
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script>
        new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: () => ({
                roomName: ''
            }),
            methods: {
                select() {
                    window.location.pathname = '/chat/' + this.roomName + '/';
                }
            }
        })
    </script>
{% endblock script %}